/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

body{
    height: 100vh;
    width: 100%;
    background-image: url(./assets/img/products.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;   
 
}

